*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


.first-section{
   
    height: 250px;
    
}

.gridbox{
   
    height: 450px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    gap: 2px;
    
   
}

.right-section{
   
    width: 20%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    display: flex;
    background-color: rgb(214, 215, 215);
}

.flex-container{
    width: 80%;
}


.standard-section{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.zero{
    text-align: right;
    height: 170px;
    font-size: 50px;
    padding: 50px;
}

.M-buttons{
    display: flex;
    gap: 75px;
    padding: 15px;
    
   
    
}

.icon-section{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding:15px;
}

.history-section{
    display: flex;
    gap: 20px;
}

.history{
    border-bottom: 4px solid rgb(3, 123, 197);
    
}
.gray-button{
     font-size:30px; padding: 10px; background-color: rgb(228, 232, 232); 
    
}

.Equal{
    background-color: rgb(115, 175, 211);
}

.white-button{
    text-align: center; font-size:30px; padding: 10px; background-color: white;
}

.gridbox div{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operator{
    font-size: 25px;
}

 .fa-list-alt,  .fa-table, .fa-superscript{
    font-size: 20px;
}

@media screen and (max-width:600px){
    
}