*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


.flexbox1{
   
    height: 250px;
    
}

.gridbox{
   
    height: 450px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    gap: 2px;
    
   
}

.flexbox3{
   
    width: 20%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    display: flex;
    background-color: rgb(214, 215, 215);
}

.flex-container{
    width: 80%;
}

.part1{
    padding: 10px;
}
.part2{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.part3{
    text-align: right;
    height: 170px;
    font-size: 50px;
    padding: 50px;
}

.part4{
    display: flex;
    gap: 75px;
    padding: 15px;
    
   
    
}

.part5{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding:15px;
}

.part6{
    display: flex;
    gap: 20px;
}


.gray-button{
     font-size:30px; padding: 10px; background-color: rgb(176, 184, 184); 
  
   
}

.item9, .item10, .item11 , .item13 ,
.item14, .item15, .item17, .item18, .item19,
.item21, .item22 , .item23{
    background-color: rgb(252, 252, 252);
    margin: 30;
}

.gridbox div{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px){
    
}